# system files
.DS_Store

# python files
*.pyc
__pycache__
*.egg-info
dist
build
*other*

# media files
*graph*
*.png
*.mp4

# tests
*test*
!tests/*.py

# data files
*old*
*data*
*.hdf
*.h5
*.nc
*.pk
*.pkl
*.html
*.pro
*.ict
*idl*

# libRadtran
randomseed

# exceptions for ssfr
future_dev/*
!tests
!examples
!ssfr/data
!ssfr/data/*.dat
!ssfr/data/cal/*.h5
